* {
  box-sizing: border-box;
  // outline: 1px solid cyan;
}

html {
  font-size: 21px;
}

body {
  margin: 5rem 0 0;
  padding: 0;
  background: #333;
  font-family: sans-serif;
}

div#root {
  max-width: 1200px;
  margin: auto;
  // display: grid;
  // grid-template-columns: 1fr 2fr;
}
