.saved-list {
  background-color: #fff;
  border: 0;
  box-shadow: 0 -1px 0 #e0e0e0, 0 0 2px rgba(0, 0, 0, 0.12),
    0 2px 4px rgba(0, 0, 0, 0.24);
  padding: 1rem;
  cursor: pointer;
  position: relative;
  margin: 1rem auto;
  // width: 75%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;

  h3 {
    margin-right: 10px;
    // flex: 0 0 50%;
  }

  div.home-button {
    // flex: 0 0 50%;
    padding: 1rem;
    button {
      float: right;
    }
  }

  ul {
    flex: 0 0 100%;
    li.saved-movie {
      margin: 0 10px;
    }
  }
}

.saved-active {
  color: blue;
  border: 1px solid grey;
  padding: 5px;
}
// .save-wrapper {
//   position: relative;
//   width: 75%;
//   margin: 1rem auto;
// }
.save-button {
  position: absolute;
  cursor: pointer;
  top: 25px;
  right: 25px;
  border: 1px solid grey;
  padding: 5px 10px;
  background-color: lightseagreen;
}
.save-button:hover {
  background-color: green;
  color: white;
}
