header#searchbar {
  // position: fixed;
  // top: 0;
  // right: 0;
  // left: 0;
  // z-index: 1;
  background: #a94728;

  nav {
    max-width: 1200px;
    padding: 1rem;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  a {
    color: #fff;
    text-decoration: none;
  }

  h1.title {
    font-size: 1.5rem;
    margin: 0;
  }

  div.input-group {
    width: unset;
  }
}
