header#searchbar {
  background: #a94728;

  nav {
    max-width: 940px;
    padding: 1rem 0;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  a {
    color: #fff;
    text-decoration: none;
  }

  h1.title {
    font-size: 1.5rem;
    margin: 0;
  }

  div.input-group {
    width: unset;
  }
}
