nav.tabs {
  display: flex;
  margin: 1rem 0 2rem;
  a {
    color: #fff;
    padding: 1rem;
    border: 2px solid transparent;
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
    margin-bottom: -2px;
    &.active {
      background: #333;
      border: 2px solid #8ea5a7;
      border-bottom: none;
    }
  }
  border-bottom: 2px solid #8ea5a7;
}
